<section class="section about slightly-below-nav">
    <h1 class="about-title" id="about">
        Senior Automation Quality Assurance Engineer
    </h1>
    <p class="introduction">
        Hi<br /> <br />My name is Anna and I am ISTQB-certified Senior Quality Assurance Engineer with over 6 years
        of experience in software development. My expertise lies in designing and implementing robust testing frameworks. 
        With a Bachelor's degree in Computer Science and a commitment to continuous improvement, 
        I am well-equipped to contribute to software quality and operational excellence in your team.<br />
    </p>
</section>

<style>
    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.1;
        text-align: center;
        margin-bottom: 1em;
        padding-bottom: 8px;
        padding-top 80px;
        scroll-margin-top: 100px; /* to navigate NOT exactly to the top of the topic, but 100px below that*/
    }
    .introduction {
        margin-bottom: 2rem;
        border: 1px solid rgba(var(--accent-dusk), 100%);
        background: linear-gradient(
            rgba(var(--accent-light), 66%),
            rgba(var(--accent-dusk), 66%),
            rgba(var(--accent-dark), 66%)
        );
        padding: 1.5rem;
        border-radius: 8px;
        text-align: left;
    }

    @media screen and (max-width: 450px) {
        .about-title {
            font-size: 3.5rem;
        }
        
    }
</style>
