<section>
    <h1 class="slightly-below-nav about-title" id="about">
        Senior Automation Quality Assurance Engineer
    </h1>
    <p class="instructions">
        ISTQB-certified detail-oriented Senior Automation QA Engineer with over
        6 years of extensive experience in the field. <br />
        I am passionate to work as a QA Automation Engineer.
    </p>
</section>

<style>
    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.1;
        text-align: center;
        margin-bottom: 1em;
        padding-bottom: 8px;
    }
    .instructions {
        margin-bottom: 2rem;
        border: 1px solid rgba(var(--accent-dusk), 100%);
        background: linear-gradient(
            rgba(var(--accent-light), 66%),
            rgba(var(--accent-dusk), 66%),
            rgba(var(--accent-dark), 66%)
        );
        padding: 1.5rem;
        border-radius: 8px;
        text-align: left;
    }
    .slightly-below-nav {
        /* to navigate NOT exactly to the top of the topic, but 100px below that*/
        scroll-margin-top: 100px;
        margin: 4rem auto 4rem auto;
    }
</style>
