<section id="contact" class="section contact slightly-below-nav">
  <h1 class="contact-title">Contact me</h1>
  <div class="contact__wrap">
    <div class="contact__resume-button">
      <a
        href="https://anastasia-qa.com/files/Anastasia Taushkanova - Senior Quality Assurance Test Automation Engineer.pdf"
        class="contact__resume"
        target="_blank">Get my resume</a
      >
    </div>
    <p class="contact__paragraph">OR</p>
    <div class="contact__container">
      <form
        action="https://formsubmit.co/9598ac1aff9066f4a4bc977d86a436f3"
        method="POST"
        class="contact__form"
      >
        <input
          type="text"
          name="name"
          class="contact__input contact__input_title"
          placeholder="Your name"
          required=""
          minlength="2"
        />
        <input
          type="text"
          name="text"
          class="contact__input contact__input_title"
          placeholder="Type a message"
          required=""
          minlength="2"
        />
        <input
          type="email"
          name="email"
          class="contact__input contact__input_title"
          placeholder="Your email"
          required=""
        />
        <div class="submit-button">
          <button type="submit" class="contact__button contact__button_text"
          >Send</button
        >
        </div>
      </form>
    </div>
  </div>
</section>

<style>
  #section {
    padding: 0;
    margin: 0;
  }
  div.submit-button {
    display: flex;
    border-radius: 29px;
    cursor: pointer;
    border: 1.5px solid #393C42;
    background-image: none;
    background-size: 400%;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    background-color: #23262d;
    opacity: 0.8
  }

  div.submit-button:is(:hover, :focus-within) {
    cursor: pointer;
		background-position: 0;
		background-image: var(--accent-gradient);
	}
  .submit-button:is(:hover, :focus-within) .contact__button_text {
    color: rgb(var(--accent-light));
    background-color: #29232d;
    transition: background-color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    background-position: 0;
    
  }
  .contact__input {
    width: 100%;
    padding: 40px 0 10px 0;
    border: 0;
    border-bottom: 1px solid rgb(71, 77, 110);
    background-color: #262626;
    font-size: 15px;
    color: white;
  }
  .contact__paragraph {
    color: white;
    font-size: 20px;
    margin: 0;
    padding-top: 30px;
  }
  .contact__resume-button {
    display: flex;
    border-radius: 30px;
    cursor: pointer;
    border: 1.5px solid #393C42;
    background-image: none;
    background-size: 400%;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    background-color: #23262d;
    opacity: 0.8
  }

  .contact__resume-button:hover {
    /* border-radius: 30px; */
    cursor: pointer;
    background-position: 0;
    background-image: var(--accent-gradient);
    /* border: 1px solid rgba(var(--accent-dusk), 100%); */
    
  }

  .contact__resume-button:is(:hover, :focus-within) .contact__resume {
    color: rgb(var(--accent-light));
    background-color: #29232d;
    transition: background-color 0.6s cubic-bezier(0.22, 1, 0.36, 1); */
    background-position: 0;
  }

  ::placeholder {
    color: #a1a1a2;
  }

  input[type="email"] {
    margin-bottom: 30px;
  }
  .contact__resume {
    width: 100%;
    text-decoration: none;
    padding: 12px 30px;
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    transition: color 0.9s cubic-bezier(0.22, 1, 0.36, 1);
		border-radius: 29px;
    border-color: transparent;
		color: white;
		background-color: #29232d;
		opacity: 0.8;
    border: 1px;
  }
  .contact__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  @media screen and (max-width: 450px) {
    .contact__wrap {
      padding-top: 40px;
    }
  }

  @media screen and (max-width: 600px) {
    .contact__resume {
      padding: 10px 25px;
    }
  }

  @media screen and (max-width: 450px) {
    .contact__resume {
      padding: 8px 20px;
      font-size: 15px;
    }
  }

  @media screen and (max-width: 450px) {
    .contact__input {
      text-align: center;
      font-size: 13px;
    }
  }

  @media screen and (max-width: 450px) {
    .contact__button_text {
      padding: 5px 25px;
      font-size: 13px;
    }
  }
  .contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .contact {
    /* padding-top: 150px; */
    margin: 0;
    padding: 0;
    width: 80%;
  }
  .contact__button {
    /* background: rgba(var(--accent), 100%); */
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    padding: 8px 35px;
    font-weight: 700;
    font-size: 15px;
    line-height: 28px;
    text-transform: uppercase;
    transition: color 0.9s cubic-bezier(0.22, 1, 0.36, 1);
    border-color: white;
    border: 1px;
		color: white;
		background-color: #29232d;
		opacity: 0.8;
  }

  .contact__container {
    width: 550px;
    background-color: #262626;
    padding: 0px 50px;
    border-radius: 15px;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 100px;
  }
  .contact-title {
    /* margin: 0 0 60px 0; */
    /* color: white; */
    /* font-weight: 700; */
    /* font-size: 80px; */
    /* line-height: 70px; */
  }
  .contact {
    /* padding-top: 80px; */
    margin: 0 auto;
    width: 80%;
  }

  @media screen and (max-width: 900px) {
    .contact {
      padding-top: 100px;
    }
  }

  @media screen and (max-width: 500px) {
    .contact {
      padding-top: 70px;
    }
  }

  @media screen and (max-width: 900px) {
    .contact-title {
      font-size: 60px;
    }
  }

  @media screen and (max-width: 500px) {
    .contact-title {
      font-size: 50px;
    }
  }

  @media screen and (max-width: 450px) {
    .contact-title {
      font-size: 40px;
    }
  }

  @media screen and (max-width: 600px) {
    .contact__container {
      width: 400px;
    }
  }

  @media screen and (max-width: 450px) {
    .contact__container {
      width: 280px;
    }
  }

  @media screen and (max-width: 900px) {
    .contact {
      padding-top: 100px;
    }
  }

  @media screen and (max-width: 500px) {
    .contact {
      padding-top: 70px;
    }
  }
</style>
