---
import Card from "../components/Card.astro";
---

<section id="projects" class="section projects slightly-below-nav">
    <h1 class="projects-title">Projects</h1>
    <ul role="list" class="link-card-grid" id="projects">
        <Card
            href="https://github.com/anastasiia-test/playwright-practice-app"
            title="Playwright Test Project"
            body="Functional tests project using Playwright library. Used Page Object Model to improve the quality and efficiency of test automation. Implemented CI/CD."
        />
        <Card
            href="https://github.com/anastasiia-test/portfolio"
            title="Personal Website"
            body="My personal website - Portfolio repository"
        />
        <Card
            href="https://github.com/anastasiia-test/cypress-test-app"
            title="Cypress Test Automation Project"
            body="Cypress test automation project + Angular test app"
        />
        <Card
            href="https://github.com/anastasiia-test/python-practice-app"
            title="Web App on Python"
            body="REST APIs with Flask and Python (practice app)"
        />
    </ul>
</section>

<style>
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 2rem;
        padding: 0;
    }
</style>
