---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Anastasia's Portfolio" />
		<meta
			name="keywords"
			content="QA, Senior Software Quality Assurance Engineer, Test Automation, Tester"
		/>
		<meta
			name="viewport"
			content="width=device-width"
			,
			user-scalable="no,"
			initial-scale="1.0,"
			maximum-scale="1.0,"
			minimum-scale='1.0"'
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
			integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Anastasia Taushkanova" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	/* oxygen regular */
	@font-face {
		src: url("/fonts/poppins-v19-latin-regular.woff2");
		font-family: "Poppins";
		font-weight: 400;
	}

	/* oxygen semi-bold */
	@font-face {
		src: url("/fonts/poppins-v19-latin-600.woff2");
		font-family: "Poppins";
		font-weight: 600;
	}

	/* oxygen bold */
	@font-face {
		src: url("/fonts/poppins-v19-latin-700.woff2");
		font-family: "Poppins";
		font-weight: 700;
	}
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-dusk: 114, 23, 232;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			rgb(4, 214, 246) 60%
		);
	}
	html {
		/* font-family: system-ui, sans-serif; */
		font-family: Poppins;
		background: #262626;
		margin: 0;
		padding: 0;
		overflow-y: scroll; /*Force scrollbars to always be visible to prevent layout shifts */
		height: 100%; /* Ensure the body stretches with the content */
	}
	body {
		margin: 0;
		padding: 0;
		background-color: #262626;
		overflow-y: auto; /* Allows vertical scrolling */
		overflow-x: hidden; /* Prevents horizontal scrolling, optional */
		height: 100%; /* Ensure the body stretches with the content */
	}
	h1 {
        display: block;
        background-image: var(--accent-gradient);
        background-clip: text;
        -webkit-background-clip: text;
        color: white;
        margin: 0 0.5rem auto;
        text-align: center;
		-webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 300%;
        background-position: 0%;
    }
	[class$="-title"] {
		font-size: 52px;
	}
	
</style>
